/* 投稿 */

width: 223px;
height: 262px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

/* オートレイアウト内部 */
flex: none;
order: 0;
flex-grow: 0;



/* カピバラ？ */

position: absolute;
width: 60px;
height: 18px;
left: 81px;
top: 11px;

/* text */
font-family: 'M PLUS 1p';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
/* ボックスの高さと同一 */
text-align: center;

color: #494C4D;

/* Frame 13 */

/* オートレイアウト */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 3px 5px;
gap: 5px;

width: 45px;
height: 20px;

background: #CB30E0;
border-radius: 5px;

/* オートレイアウト内部 */
flex: none;
order: 1;
flex-grow: 0;
